* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: none;
}

body {
  background-color: rgb(110, 095, 110);
  font-family: monospace;
}

.container {
	width: 65%;
	min-width: 470px;
	max-width: 620px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-width: 4px;
	margin: 20px auto 0;
}

$color1: rgb(20, 15, 20);
$color2: rgb(195, 200, 0);
$color3: rgb(230, 220, 20);

#todo-heading {
	color: $color3;
	font-size: 5rem;
	font-weight: bolder;
}

@mixin container_style($height) {
	color: $color1;
	background-color: ghostwhite;
	height: $height;
	border-color: $color3;
	border-style: solid;
	padding: 10px;
}

.btn {
	border: 2px solid $color3;
	background-color: $color2;
}

#todo-add-container {
	@include container_style(200);
} 	 

#todo-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

$id_list: "input", "add", "load", "clear";

@each $id in $id_list {
	#todo-#{$id} {
		display: block;
		height: 30px;
		font-size: 1.50rem;
		text-align: center;
		@if $id == "input" {
			width: 90%;
			border: 2px solid $color1;
		}
	}
}

.fbuttons {
	width: 65%;
	font-weight: bold;
}


#todo-item-container {
	@include container_style(60vh);
	min-height: 500px;
	overflow-y: auto;
	
	div {
		display: grid;
		grid-template-columns: 3fr 1fr 1fr;
		width: 90%;
		height: 20px;
		margin-bottom: 40px;
		&:first-of-type {
			margin-top: 10px;
		}
		
		span {
			font-size: 1.05rem;
			font-weight: bold;
			margin-right: 5px;
		}
		
		.btn {
			margin-right: 5px;
			width: 100px;
			height: 27px;
			font-weight: bold;
		}

	}	
}
			
.btn:hover {
	border-style: groove;
}
